<body>
  <div class="container">
    <div class="row">
      <!-- navbar -->
      <nav>
        <div class="col s12 nav-wrapper">
          <a href="#" class="brand-logo">AsIs</a>
          <ul class="tabs" id="nav-mobile" class="right hide-on-med-and-down">
            <li><a class="active" href="#login">Login</a></li>
            <li><a routerLink="/signup">Registration</a></li>
          </ul>
        </div>
      </nav>
      <!-- form -->
      <div class="row center col s6 m6 l10" id="register-page">
        <div class="wrapper card col l6 offset-l4" id="login">
          <app-login></app-login>
        </div>
      </div>
    </div>
  </div>
</body>
