<form action="#">
  <div class="field">
    <input type="text" required />
    <label>Name</label>
  </div>
  <div class="field">
    <input type="text" required />
    <label>Email Address</label>
  </div>

  <div class="field">
    <input type="text" required />
    <label>Phone Number</label>
  </div>
  <div class="field">
    <input type="password" required />
    <label>Password</label>
  </div>
  <div class="field">
    <input type="password" required />
    <label>Confirm Password</label>
  </div>
  <div class="content">
    <div>
      <p>Gander</p>
    </div>
    <p>
      <label>
        <input name="group1" type="radio" checked />
        <span>Male</span>
      </label>
    </p>
    <p>
      <label>
        <input name="group1" type="radio" />
        <span>Female</span>
      </label>
    </p>
  </div>
  <div class="field">
    <input type="submit" value="signup" />
  </div>
  <div class="signup-link">have a account? <a href="#reg">login now</a></div>
</form>
