<body>
  <div class="container">
    <div class="row">
      <!-- navbar -->
      <nav>
        <div class="col s12 nav-wrapper">
          <a href="#" class="brand-logo">AsIs</a>
          <ul class="tabs" id="nav-mobile" class="right hide-on-med-and-down">
            <li><a class="active" href="#login">Login</a></li>
            <li><a routerLink="/signup">Registration</a></li>
          </ul>
        </div>
      </nav>
      <!-- form -->
      <div class="row center col l10" id="register-page">
        <div class="wrapper card col l6 offset-l4" id="login">
          <form action="#">
            <div class="field">
              <input type="text" required />
              <label>Name</label>
            </div>
            <div class="field">
              <input type="text" required />
              <label>Email Address</label>
            </div>

            <div class="field">
              <input type="text" required />
              <label>Phone Number</label>
            </div>
            <div class="field">
              <input type="password" required />
              <label>Password</label>
            </div>
            <div class="field">
              <input type="password" required />
              <label>Confirm Password</label>
            </div>
            <div class="content">
              <div>
                <p>Gander</p>
              </div>
              <p>
                <label>
                  <input name="group1" type="radio" checked />
                  <span>Male</span>
                </label>
              </p>
              <p>
                <label>
                  <input name="group1" type="radio" />
                  <span>Female</span>
                </label>
              </p>
            </div>
            <div class="field">
              <input type="submit" value="signup" />
            </div>
            <div class="signup-link">
              have a account? <a routerLink="/signup">login now</a>
            </div>
            <p style="font-family: system-ui">
              By click
              <span style="font-weight: bolder; color: #837d7d">sign up</span>,
              you are in agreement of the<span class="notify">
                Terms of use
              </span>
              and <span class="notify">Privacy policy</span> .
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
