<body>
  <div class="container">
    <div class="row">
      <!-- navbar -->
      <nav>
        <div class="col s12 nav-wrapper">
          <a href="#" class="brand-logo">AsIs</a>
          <ul class="tabs" id="nav-mobile" class="right hide-on-med-and-down">
            <li><a class="active" href="#login">Login</a></li>
            <li><a routerLink="/signup">Registration</a></li>
          </ul>
        </div>
      </nav>
      <h6 class="center-align red-text text-darken-4">{{ msgError }}</h6>
      <!-- form -->
      <div class="row center col l10" id="register-page">
        <div class="wrapper card col l6 offset-l4" id="login">
          <form [formGroup]="signupForm" novalidate (ngSubmit)="create()">
            <div class="input-field col s12">
              <input
                type="text"
                formControlName="username"
                class="validate"
                required
              />
              <label>Name</label>
              <span
                class="helper-text"
                *ngIf="
                  !signupForm.controls['username'].valid &&
                  signupForm.controls['username'].touched
                "
                >username is required</span
              >
            </div>
            <div class="input-field col s12">
              <input
                type="text"
                formControlName="email"
                class="validate"
                required
              />
              <label>Email Address</label>
              <span
                class="helper-text"
                *ngIf="
                  !signupForm.controls['email'].valid &&
                  signupForm.controls['email'].touched
                "
              >
                Email is required</span
              >
            </div>
            <div class="input-field col s12">
              <input
                type="text"
                formControlName="phone"
                class="validate"
                required
              />
              <label>Phone Number</label>
              <span
                class="helper-text"
                *ngIf="
                  !signupForm.controls['phone'].valid &&
                  signupForm.controls['phone'].touched
                "
              >
                Phone number is required</span
              >
            </div>
            <div class="input-field col s12">
              <input
                type="password"
                formControlName="password"
                class="validate"
                required
              />
              <label>Password</label>
              <span
                class="helper-text"
                *ngIf="
                  !signupForm.controls['password'].valid &&
                  signupForm.controls['password'].touched
                "
              >
                Password is required</span
              >
            </div>
            <!--  <div class="field">
              <input type="text" required />
              <label>Role</label>
            </div> -->
            <div class="content">
              <div>
                <p>Gander</p>
              </div>
              <p>
                <label>
                  <input
                    name="gender"
                    type="radio"
                    formControlName="gender"
                    value="male"
                    checked
                  />
                  <span>Male</span>
                </label>
              </p>
              <p>
                <label>
                  <input
                    name="gender"
                    type="radio"
                    formControlName="gender"
                    value="female"
                  />
                  <span>Female</span>
                </label>
              </p>
            </div>
            <div class="field">
              <input
                type="submit"
                [disabled]="!signupForm.valid"
                value="signup"
              />
            </div>
            <div class="signup-link">
              have a account? <a routerLink="/signup">login now</a>
            </div>
            <p style="font-family: system-ui">
              By click
              <span style="font-weight: bolder; color: #837d7d">sign up</span>,
              you are in agreement of the<span class="notify">
                Terms of use </span
              >and <span class="notify">Privacy policy</span> .
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
