<div class="row">
  <div class="col s12">
    <div class="card post-div">
      <div class="card-content">
        <form>
          <div class="row form-div">
            <div class="input-field col s12 post-content">
              <textarea id="textarea1" class="materialize-textarea"></textarea>
              <label for="textarea1">What's on your mind, Aml?</label>
              <div class="row input-row">
                <div class="col s6">
                  <div class="file-field input-field">
                    <div class="btn photo-btn">
                      <span
                        ><i class="material-icons left">image</i> Photo</span
                      >
                      <input type="file" />
                    </div>
                    <div class="file-path-wrapper">
                      <input class="file-path validate" type="text" />
                    </div>
                  </div>
                </div>
                <div class="col s6">
                  <button class="btn waves-effect post-btn">
                    <i class="material-icons left">message</i>Post
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
